<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .overlay{
            background-color: black;
            opacity: 50%;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
<book-mark-grid>
</book-mark-grid>
<book-mark-form></book-mark-form>
<div class="overlay"></div>
<script src="bookmarkgrid.js"></script>
<script src="bookmark.js"></script>
<script src="bookmarkform.js"></script>
</body>
</html>